main {
    padding: 1em;
    /*background-color: #00000033;*/
    display: flex;

    form {
        flex: 1;
    }
}

.map {
    padding: 1em;
    /*background-color: #00000033;*/
    display: grid;
    gap: 1em;
}

.room {
    padding: 1em;
    background-color: #00000033;
}

:root {
    --active-color: rgba(0, 136, 255, 0.2);
}

.room.active {
    background-color: var(--active-color);
}

.room.hover {
    background-color: rgba(183,0,255,0.2);
}

marker.active {
    fill: var(--active-color);
}

line.active {
    stroke: var(--active-color);
}
