main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > div {
        display: flex;
        padding: 1em;
    }
}

#messages {
    display: grid;
    grid-template-columns: auto 1fr auto;
    margin: 0 auto;
    max-width: 600px;

    @media only screen and (max-width: 1000px) {
        max-width: inherit;
    }

    > :first-child {
        margin: 0;
        padding: .5em;
        text-align: center;
        grid-column: 1 / -1;
        border-top: 1px solid #000;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        border-top-left-radius: .5em;
        border-top-right-radius: .5em;
        padding-bottom: 0;

        display: flex;
        align-items: center;

        h3 {
            flex: 1;
            margin: 0;
        }

        a {
            color: var(--color-0);
            text-decoration: none;
            padding: 0 0 0 .5em;
            cursor: default;
        }

        a:hover {
            color: var(--color-1);
        }
    }

    strong {
        border-left: 1px solid #000;
        padding: .5em;
        text-align: right;
    }

    .message-content {
        padding: .5em;
    }

    button {
        background: none;
        border: none;
        padding: .5em;
        border-right: 1px solid #000;
    }

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: inherit;
        padding: .5em;
        text-align: right;
        font-weight: bold;
        border-top: inherit;
        border-right: inherit;
        border-bottom-left-radius: .5em;
    }

    textarea {
        border: none;
        padding: .5em;
        resize: vertical;
    }

    > .in-the-bottom {
        border-bottom: 1px solid #000;
    }

    button:last-of-type {
        border-bottom-right-radius: .5em;
    }

    button:hover {
        color: var(--color-0);
    }
}